/* HTML NODES */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html {
  font-size: 62.5%;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  font-family: "Titillium Web", sans-serif;
  font-weight: 400;
  color: #333333;
  background: #f6f6f6;
}

a {
  text-decoration: none;
  color: #333333;
  letter-spacing: 0.5px;
  -webkit-transition: color 0.2s ease-out 0s;
  -moz-transition: color 0.2s ease-out 0s;
  -o-transition: color 0.2s ease-out 0s;
  transition: color 0.2s ease-out 0s;
}

a.page-link.active {
  font-weight: 700;
  color: #eb5757;
}

a.page-link:hover {
  color: #eb5757;
}

.text-container {
  color: #333333;
  font-size: 1.5rem;
  font-weight: 400;
  padding: 0px 1.5rem;
  margin-bottom: 1.5rem;
}

.text-normal {
  font-weight: 400;
}

.text-light {
  font-weight: 200;
}

.text-bold {
  font-weight: 600;
}

.text-left {
  text-align: left;
}

.padding-left {
  padding-left: 1.5rem;
}

.my-name {
  font-weight: 600;
  font-size: 3.6rem;
}

.banner-image {
  width: 100%;
  max-height: 30rem;
}

.banner-image img {
  width: 100%;
  height: 100%;
}

.page-links {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  padding: 1.5rem;
  font-size: 1.4rem;
  text-transform: uppercase;
}

.seperator {
  margin: 0px 0.5rem;
  vertical-align: center;
}

.links-left {
  flex-grow: 1;
  text-align: left;
}

.links-right {
  flex-grow: 1;
  text-align: right;
}

.media-buttons {
  padding: 0px 15px;
}

.button {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  width: 100%;
  height: 6rem;
  border: 1px solid #333333;
  padding: 1.5rem;
  margin-bottom: 1.5rem;
  cursor: pointer;
}

.button .icon {
  width: 3.2rem;
  height: 3.2rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.icon.play {
  background-image: url("/images/icons/play.svg");
}

.icon.document {
  background-image: url("/images/icons/document.svg");
}

.icon.mail {
  background-image: url("/images/icons/mail.svg");
}

.icon.github {
  background-image: url("/images/icons/github.svg");
}

.icon.instagram {
  background-image: url("/images/icons/instagram.svg");
}

.icon.linkedin {
  background-image: url("/images/icons/linkedin.svg");
}

.button .label {
  font-size: 2.8rem;
  margin-left: 1.5rem;
}

.image-gallery {
  padding: 0px 15px;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  position: relative;
}

.gallery-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.image-thumbnail {
  flex: calc(33.33% - 4px);
  max-width: calc(33.33% - 4px);
  align-self: center;
  border: 1px solid #333333;
  cursor: pointer;
  margin: 3px 0px;
}

.image-thumbnail.large {
  flex: calc(50% - 4px);
  max-width: calc(50% - 4px);
}

.image-thumbnail.wide {
  flex: 100%;
  max-width: 100%;
}

.contact-link {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin-bottom: 0.8rem;
}

.contact-link .icon {
  width: 1.8rem;
  height: 1.8rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.contact-link .label {
  font-size: 1.4rem;
  margin-left: 1rem;
}

.ascii-art {
  position: absolute;
  z-index: 0;
  color: #4f4f4f;
  font-size: 1rem;
  text-align: left;
}

.ascii-art pre {
  font-family: "Roboto Mono", monospace;
}

#planet {
  top: 8rem;
  left: 50%;
  transform: translate(-70rem, 0px);
}

#planetMobile {
  position: relative;
  top: auto;
  left: auto;
  display: none;
  text-align: center;
}

#planetMobile .ascii-art-wrapper {
  width: 44rem;
  height: 44rem;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

#planetMobile pre {
  text-align: left;
  font-size: 0.1rem;
  overflow: hidden;
  position: absolute;
  left: 50%;
  top: 0px;
  transform: translate(-50%, 0px);
}

#rocket {
  bottom: 1rem;
  left: 50%;
  transform: translate(35rem, 0px);
}

#content {
  width: 100%;
  position: relative;
  text-align: center;
}

#mainContainer {
  width: 100%;
  max-width: 64.5rem;
  min-height: 100vh;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-flow: column nowrap;
}

#header {
  width: 100%;
  text-align: left;
  height: 8rem;
  padding-top: 2rem;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

#cardContent {
  width: 100%;
  flex: 1 1;
  background: #ffffff;
  z-index: 1;
  position: relative;
  padding-bottom: 1.5rem;
  -webkit-box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.12);
}

@media only screen and (max-width: 950px) {
  #planet {
    display: none;
  }
  #rocket {
    display: none;
  }
  #planetMobile {
    display: block;
  }
}

@media only screen and (max-width: 700px) {
  .my-name {
    font-size: 3rem;
  }
  .text-container {
    font-size: 1.3rem;
  }
  .button {
    height: 4rem;
    border: 1px solid #333333;
    padding: 1rem;
    margin-bottom: 1.5rem;
    cursor: pointer;
  }
  .button .icon {
    width: 2.4rem;
    height: 2.4rem;
  }
  .button .label {
    font-size: 2rem;
    margin-left: 1rem;
  }
  #header {
    padding-left: 1.5rem;
  }
  #cardContent {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
}
